################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Saved
/Binaries/Win64
/Intermediate/AssetRegistryCache
/Intermediate/Build
/.vs/Tanks
/.idea
