################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Saved
/Intermediate
/Content
/Config
/Binaries/Win64
/Intermediate/AssetRegistryCache
/Intermediate/Build
/.vs/Tanks
/.idea
